body {
  background: #655ae7;
  margin: 0px;
  padding: 0px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.box.box-below, .box.box-above {
  width: 200px;
  height: 150px;
  background-image: linear-gradient(to right, #ea3b60 40.5%, #ff506d 0%);
  position: relative;
}
.box.box-below .top, .box.box-above .top {
  width: 105%;
  height: 30px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: -10px;
  background-image: linear-gradient(to right, #ea3b60 40.5%, #ff506d 0%);
}
.box.box-below .shadow, .box.box-above .shadow {
  z-index: 1;
  width: 100%;
  height: 25px;
  background: rgba(23, 22, 22, 0.7176470588);
}
.box.box-below__body .hold, .box.box-above__body .hold {
  width: 25%;
  height: 8px;
  background: #5238d1;
  position: relative;
  left: 65%;
  top: 5px;
  border-radius: 30px;
}
.box.box-above {
  width: 150px;
  height: 100px;
  position: relative;
  right: 5px;
  background-image: linear-gradient(to right, #695eee 40.5%, #a29bfe 0%);
}
.box.box-above .top {
  height: 20px;
  background-image: linear-gradient(to right, #695eee 40.5%, #a29bfe 0%);
}
.box.box-above .shadow {
  height: 15px;
}

.person__laptop {
  width: 20%;
  height: 180px;
  position: relative;
  left: 5%;
}
.person__laptop .cover {
  width: 80%;
  height: 100%;
  background: #f1effe;
  transform: skew(20deg);
  border-radius: 15px;
  position: relative;
  left: -10%;
  z-index: 1;
}
.person__laptop .cover::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2862745098);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.person__laptop .bottom {
  position: absolute;
  width: 100%;
  height: 15%;
  background: #c3bffe;
  bottom: 0px;
  border-radius: 20px;
  left: 20px;
}
.person__table {
  width: 60%;
  height: 20px;
  background: #c3bffe;
  border-radius: 5px;
  position: relative;
}
.person__table::before, .person__table::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 320px;
  background: #c3bffe;
}
.person__table::before {
  left: 25px;
}
.person__table::after {
  right: 25px;
}
.person__structure__body__torso {
  width: 120px;
  height: 200px;
  background: white;
  position: relative;
  border-radius: 15% 40% 20px 9px/50%;
  transform: skew(10deg);
  left: 146px;
  top: 110px;
  z-index: 6;
}
.person__structure__body__torso .left__hand .sleeve {
  width: 40px;
  height: 70px;
  background: #dadde0;
  border-radius: 50% 50% 10px 30%/50%;
  position: absolute;
  right: 30%;
  top: 1%;
  transform: rotate(40deg);
}
.person__structure__legs__left .thigh {
  position: relative;
  left: 70px;
  top: 50px;
}
.person__structure__legs__left .thigh .top {
  background: black;
  height: 50px;
  width: 150px;
  background: black;
  transform: rotate(-10deg);
  border-radius: 30px;
  position: relative;
  top: 45px;
  left: -8.9px;
}
.person__structure__legs__left .thigh .bottom {
  width: 200px;
  height: 60px;
  background: black;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 60px;
  -webkit-clip-path: polygon(6% 18%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(6% 18%, 100% 0%, 100% 100%, 0% 100%);
}
.person__structure__legs__left .lower__leg {
  width: 60px;
  height: 250px;
  background: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 30px;
  position: relative;
  transform: rotate(8deg);
  left: 45px;
  top: 15px;
  z-index: 5;
}
.person__structure__legs__left .lower__leg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 30%;
  top: 50%;
  transform: translateY(-50%) rotate(2deg);
  right: -12px;
}
.person__structure__legs__left .foot {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 80px;
  height: 70px;
  background: red;
}
.person__structure__legs__left .foot .shoe__top__part {
  width: 45%;
  height: 40%;
  background: orange;
  position: relative;
}
.person__structure__legs__left .foot .shoe__bottom__part {
  width: 100%;
  height: 60%;
  background: blue;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 5px;
  position: relative;
}/*# sourceMappingURL=styles.css.map */