body {
  background: #655ae7;
  margin: 0px;
  padding: 0px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.box.box-below, .box.box-above {
  width: 200px;
  height: 150px;
  background-image: linear-gradient(to right, #ea3b60 40.5%, #ff506d 0%);
  position: relative;
}
.box.box-below .top, .box.box-above .top {
  width: 105%;
  height: 30px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: -10px;
  background-image: linear-gradient(to right, #ea3b60 40.5%, #ff506d 0%);
}
.box.box-below .shadow, .box.box-above .shadow {
  z-index: 1;
  width: 100%;
  height: 25px;
  background: rgba(23, 22, 22, 0.7176470588);
}
.box.box-below__body .hold, .box.box-above__body .hold {
  width: 25%;
  height: 8px;
  background: #5238d1;
  position: relative;
  left: 65%;
  top: 5px;
  border-radius: 30px;
}
.box.box-above {
  width: 150px;
  height: 100px;
  position: relative;
  right: 5px;
  background-image: linear-gradient(to right, #695eee 40.5%, #a29bfe 0%);
}
.box.box-above .top {
  height: 20px;
  background-image: linear-gradient(to right, #695eee 40.5%, #a29bfe 0%);
}
.box.box-above .shadow {
  height: 15px;
}

.person {
  position: relative;
}
.person .workspace {
  position: relative;
  top: 190px;
  left: 50%;
  z-index: 100;
  transform: translateX(-35%) scale(0.8);
}
.person .worker {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: -100px;
  left: 40%;
  transform: translateX(-20%);
}
.person__laptop {
  width: 20%;
  height: 180px;
  position: relative;
  left: 5%;
}
.person__laptop .cover {
  width: 80%;
  height: 100%;
  background: #f1effe;
  transform: skew(20deg);
  border-radius: 15px;
  position: relative;
  left: -10%;
  z-index: 1;
}
.person__laptop .cover::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2862745098);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.person__laptop .bottom {
  position: absolute;
  width: 100%;
  height: 15%;
  background: #c3bffe;
  bottom: 0px;
  border-radius: 20px;
  left: 20px;
}
.person__table {
  width: 60%;
  height: 20px;
  background: #c3bffe;
  border-radius: 5px;
  position: relative;
}
.person__table::before, .person__table::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 320px;
  background: #c3bffe;
}
.person__table::before {
  left: 25px;
}
.person__table::after {
  right: 25px;
}
.person__structure {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.person__structure__hair {
  background: #ebb447;
  width: 100px;
  height: 150px;
  z-index: -10;
  position: absolute;
  top: 10px;
  left: 120px;
  border-radius: 15px 30px 0px 5px;
}
.person__structure__head {
  position: absolute;
  z-index: 100;
}
.person__structure__head .face {
  position: absolute;
  top: 40px;
  left: 140px;
  width: 60px;
  height: 60px;
  background: #fdd6aa;
  border-bottom-left-radius: 20px 20%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.person__structure__head .face::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 15%;
  background: #fdd6aa;
  border-radius: 50%;
  top: -7%;
}
.person__structure__head .face::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 15%;
  background: #ebb447;
  border-radius: 50%;
  top: -7%;
  left: 30%;
}
.person__structure__head .face .ear {
  position: absolute;
  width: 20px;
  height: 15px;
  background: #fdd6aa;
  box-shadow: inset -1px 0px 2px 0px rgba(144, 138, 138, 0.08), 2px 3px 2px 0px rgba(55, 50, 50, 0.08);
  border-radius: 50%;
  z-index: 100;
  bottom: 40%;
  right: -8px;
  transform: rotate(-20deg);
}
.person__structure__head .face .ear::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 60px;
  background: #ebb447;
  transform: rotate(20deg);
  border-bottom-left-radius: 10px 50px;
  top: -30px;
  left: 0px;
  z-index: 100;
}
.person__structure__head .neck {
  width: 26px;
  height: 35px;
  background: #fdd6aa;
  position: absolute;
  top: 85px;
  left: 160px;
  -webkit-clip-path: polygon(21% 0, 80% 0, 100% 100%, 0 100%);
          clip-path: polygon(21% 0, 80% 0, 100% 100%, 0 100%);
  border-bottom-left-radius: 10px 10%;
  border-bottom-right-radius: 10px 10%;
  box-shadow: inset -1px -3px 5px 0px rgba(174, 174, 174, 0.652);
  transform: rotate(-10deg);
}
.person__structure__body {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.person__structure__body__torso {
  width: 120px;
  height: 200px;
  background: white;
  position: relative;
  border-radius: 15% 40% 20px 9px/50%;
  transform: skew(10deg);
  left: 146px;
  top: 110px;
  z-index: 6;
}
.person__structure__body__torso .left__hand .sleeve {
  width: 40px;
  height: 70px;
  background: #dadde0;
  border-radius: 50% 50% 10px 30%/50%;
  position: absolute;
  right: 30%;
  top: 1%;
  transform: rotate(40deg);
  z-index: 4;
}
.person__structure__body__torso .left__hand .hand {
  height: 90px;
  width: 25px;
  background: #fdd6aa;
  position: absolute;
  right: 70%;
  top: 20%;
  transform: rotate(40deg);
  border-bottom-right-radius: 10px 10px;
}
.person__structure__body__torso .left__hand .hand::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 35px;
  background: red;
  top: 100%;
  right: 100%;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 70%);
          clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 70%);
  transform: rotate(-30deg) skew(0);
}
.person__structure__body__torso .right__hand {
  height: 70%;
  width: 23px;
  background: #eac5a2;
  z-index: -1;
  position: absolute;
  left: -10%;
  top: -5%;
  border-top-right-radius: 10px 40px;
  border-top-left-radius: 10px 40px;
  transform: rotateX(-20deg) skew(-10deg);
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  animation: right__hand 3s ease-in-out infinite both;
}
.person__structure__body__torso .right__hand::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
  background: #eac5a2;
  border-radius: 10px 10px 0 0;
  left: 48%;
  transform: translateX(-50%) rotate(-5deg) skew(0);
  z-index: -1;
  top: -20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}
@keyframes right__hand {
  0% {
    transform: rotateX(-20deg) skew(-10deg);
  }
  50% {
    transform: rotateX(-25deg) skew(-12deg);
  }
  100% {
    transform: rotateX(-20deg) skew(-10deg);
  }
}
.person__structure__legs {
  width: -moz-fit-content;
  width: fit-content;
}
.person__structure__legs__left {
  width: -moz-fit-content;
  width: fit-content;
}
.person__structure__legs__left .thigh {
  position: relative;
  left: 70px;
  width: -moz-fit-content;
  width: fit-content;
  top: 50px;
}
.person__structure__legs__left .thigh .top {
  background: black;
  height: 50px;
  width: 150px;
  background: black;
  transform: rotate(-10deg);
  border-radius: 30px;
  position: relative;
  top: 45px;
  left: -8.9px;
}
.person__structure__legs__left .thigh .bottom {
  width: 200px;
  height: 60px;
  background: black;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 60px;
  -webkit-clip-path: polygon(6% 18%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(6% 18%, 100% 0%, 100% 100%, 0% 100%);
}
.person__structure__legs__left .lower__leg {
  width: 60px;
  height: 250px;
  background: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 30px;
  position: relative;
  transform: rotate(8deg);
  left: 45px;
  top: 15px;
  z-index: 5;
}
.person__structure__legs__left .lower__leg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 30%;
  top: 50%;
  transform: translateY(-50%) rotate(2deg);
  right: -12px;
}
.person__structure__legs__left .foot {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 80px;
  height: 70px;
  background: red;
}
.person__structure__legs__left .foot .shoe__top__part {
  width: 45%;
  height: 40%;
  background: orange;
  position: relative;
}
.person__structure__legs__left .foot .shoe__bottom__part {
  width: 100%;
  height: 60%;
  background: blue;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 5px;
  position: relative;
}

.wrap {
  position: absolute;
  width: 100px;
  height: 40px;
  color: #fcbe78;
  left: -32px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  transform: scale(0.3);
}
.wrap .eye {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.wrap .eye::before {
  content: "";
  position: absolute;
  margin: auto;
  width: 10px;
  height: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  background: rgb(20, 20, 20);
}
.wrap .eye.sad::after {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: 0;
  border-radius: 50%;
  background: #fdd6aa;
  left: -10px;
}
.wrap .eye.sad:after {
  top: -10px;
}
.wrap .eye:first-child {
  left: 0;
}
.wrap .eye:last-child {
  right: 0;
}
.wrap .eye.sad:before {
  animation: sadb 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.sad:after {
  animation: grina 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.d1 {
  animation-delay: 0.1s;
}

@keyframes grina {
  0%, 10% {
    height: 0;
  }
  20%, 40% {
    height: 100%;
  }
  50%, 100% {
    height: 0;
  }
}
@keyframes sadb {
  0%, 10% {
    top: 0;
  }
  20%, 40% {
    top: 50%;
  }
  50%, 100% {
    top: 0;
  }
}/*# sourceMappingURL=styles.css.map */