$laptop-cover-color: #f1effe;
$light-purple: #c3bffe;

body {
  background: #655ae7;
  margin: 0px;
  padding: 0px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.box {
  &.box-below,
  &.box-above {
    width: 200px;
    height: 150px;
    background-image: linear-gradient(to right, #ea3b60 40.5%, #ff506d 0%);

    position: relative;
    .top {
      width: 105%;
      height: 30px;
      background: #000;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      top: -10px;
      background-image: linear-gradient(to right, #ea3b60 40.5%, #ff506d 0%);
    }
    .shadow {
      //   position: absolute;
      z-index: 1;
      width: 100%;
      height: 25px;
      //   bottom: -30px;
      background: #171616b7;
      //   left: 50%;
      //   transform: translateX(-50%);
    }

    &__body {
      .hold {
        width: 25%;
        height: 8px;
        background: #5238d1;
        position: relative;
        left: calc(80% - 15%);
        top: 5px;
        border-radius: 30px;
      }
    }
  }

  &.box-above {
    width: 150px;
    height: 100px;
    position: relative;
    right: 5px;
    background-image: linear-gradient(to right, #695eee 40.5%, #a29bfe 0%);
    .top {
      height: 20px;
      background-image: linear-gradient(to right, #695eee 40.5%, #a29bfe 0%);
    }
    .shadow {
      height: 15px;
    }
  }
}

.person {
  &__laptop {
    width: 20%;
    height: 180px;
    // background: orange;
    position: relative;
    left: 5%;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 20px;
    //   background: #000;
    //   bottom: 0px;
    // }

    .cover {
      width: 80%;
      height: 100%;
      background: $laptop-cover-color;

      // position: absolute;
      transform: skew(20deg);
      border-radius: 15px;
      position: relative;
      left: -10%;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background: #00000049;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .bottom {
      position: absolute;
      width: 100%;
      height: 15%;
      background: $light-purple;
      bottom: 0px;
      border-radius: 20px;
      left: 20px;
    }
  }
  &__table {
    width: 60%;
    height: 20px;
    background: $light-purple;
    border-radius: 5px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 320px;
      background: $light-purple;
    }
    &::before {
      left: 25px;
      // top: -10px;
    }
    &::after {
      right: 25px;
      // top: -10px;
    }
  }

  &__structure {
    position: relative;
    &__legs {
      &__left {
        .thigh {
          position: relative;
          left: 70px;
          top: 50px;
          .top {
            background: black;
            height: 50px;
            width: 150px;
            background: black;
            transform: rotate(-10deg);
            border-radius: 30px;
            position: relative;
            top: 45px;
            left:-8.9px;
          }
          .bottom {
            width: 200px;
            height: 60px;
            background: black;

            border-bottom-right-radius: 80px;
            border-bottom-left-radius: 60px;
            clip-path: polygon(6% 18%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
        .lower__leg {
          width: 60px;
          height: 250px;
          background: #000;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          position: relative;
          transform: rotate(8deg);
          left: 45px;
          top: 15px;
          z-index: 5;
          //   overflow-y: hidden;
          //   overflow-x: visible;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            border-radius: 30%;
            top: 50%;
            transform: translateY(-50%);
            // rotate(4deg);
            right: -12px;
          }
        }
        .foot {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: end;
          width: 80px;
          height: 70px;
          background: red;
          .shoe {
            &__top__part {
              width: 45%;
              height: 40%;
              background: orange;
              position: relative;
            }
            &__bottom__part {
              width: 100%;
              height: 60%;
              background: blue;
              border-top-left-radius: 50%;
              border-bottom-left-radius: 5px;
              position: relative;
              //   &::after {
              //     content: "";
              //     position: absolute;
              //     width: 31px;
              //     height: 20px;
              //     background: #ea0000;
              //     border-radius: 50%;
              //     right: 34%;
              //     top: -41%;
              //     transform: rotate(327deg);
              //   }
            }
          }
        }
      }
    }
  }
}
